.textblue {
    font-weight: 900;

    color: #2c374f;
    
}

.buttons{
    background-color: none;
    color: white;
    border: solid 3px rgba(0, 0, 0, 0);
}

.buttons:hover {
    background-color: none;
    color: #fdf900;
    border-bottom: solid 3px #fdf900;
  }
  .buttons2:hover {
    background-color: none;
    color: white;
    

  }


  .buttons2{
      background-color:#2c374f ;
      color: white;
      font-weight: 900;
      font-size:13px;
  }
  .card{
      background-color: red;
      height: 200px;

  }
  .littletxt{
      font-size: small;
      
  }
  .deg{
    background: linear-gradient(0deg, #2c374f 77%, #ffffff 100%);


  }
  .botonnav{
    border: none;
  }
  .cuadro{
    background: white; 
     width:315px;

  }



 
  #btnc:checked~ .botonesnav{
      background: red;
  }
  @media only screen and (max-width: 960px) {
    .botonesnav {
      background: #ffffff;
      
    }
    .buttons{
      background-color: none;
      color: #2c374f;
      border: solid 3px rgba(0, 0, 0, 0);
      text-align: start;
      font-size: 15px;
      font-weight: 900;
      
  }
  .buttons:hover {
    background-color: #aaaaaa;
    color: #ffffff;
    border-bottom: none;
    
  }
  .cuadro{
    background: white; 
     width:250px;

  }
  }
  @media only screen and (max-width: 540px){
    .cuadro{
      background: white; 
       width:200px;
  
    }

  }